<!DOCTYPE html>
<!--
    Interphase by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license(templated.co / license)
-->
                                                
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>PERS</title>
    <meta http - equiv = "content-type" content = "text/html; charset=utf-8"/>
    <meta name = "description" content = ""/>
    <meta name = "keywords" content = ""/>
    <script src = "javascripts/jquery.min.js"></script>
    <script src = "javascripts/skel.min.js"></script>
    <script src = "javascripts/skel-layers.min.js"></script>
    <script src = "javascripts/init.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "css/skel.css"/>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css"/>
    <link rel = "stylesheet" type = "text/css" href = "css/style-xlarge.css"/>
    <style>
        ul.condition{width:100%; list-style:none; background:none; padding:0 0; margin-bottom:5%; }
        ul.condition > li{padding:0 0;}
        ul.condition > li:first-child{clear:both; margin:0 auto; width:30%}
        ul.condition > li:first-child > img{width:100%;}

        ul.condition > li:nth-child(2){clear:both; width:100%; margin:0 auto !important; height:50px; list-style:none;}
        ul.condition > li:nth-child(2) > ul.progress_bar_bg{width:80%; height:50px; list-style:none; margin:0 auto; padding:0 0}
        ul.condition > li:nth-child(2) > ul.progress_bar_bg > li{float:left; height:50px; padding:0 0;}
        ul.condition > li:nth-child(2) > ul.progress_bar_bg > li{
        width:100%;
        height:50px;
        background-color:#222;
        padding-left:10px;
        padding-right:10px;
        border-radius:10px 10px;            
    }   
ul.condition > li:nth-child(2) > ul.progress_bar_bg > li > ul.progress_bar{
    width:100%;
    height:30px;
    margin-top:10px;
    list-style:none;
    padding:0 0;
    cursor:pointer;
}
ul.condition > li:nth-child(2) > ul.progress_bar_bg > li > ul.progress_bar > li{
    width:50%;
    height:30px;
    padding:0 0;
    border-radius:8px 8px;
    background: linear-gradient(to bottom, #89f600 0%,#3ff100 100%);
}

ul.feelings{width:100%; list-style:none; background:none; padding:0 0;}
ul.feelings > li{padding:0 0;}
ul.feelings > li:first-child{clear:both; margin:0 auto;margin-bottom:3%;  width:30%}
ul.feelings > li:first-child > img{width:100%;}
ul.feelings > li:nth-child(2){width:100%; clear:both; padding:0 0; margin:0 auto;}
ul.emotion{width:60%; list-style:none; margin:0 auto; padding:0 0; clear:both;}
ul.emotion > li{width:19%; margin-right:1%; padding:0 0; float:left;}
ul.emotion > li:nth-child(5){margin:0 0;}
ul.emotion > li > a{width:100%; display:inline-block; cursor:pointer; overflow:hidden;}
ul.emotion > li:nth-child(1) > a{background:url("images/feel1.png") no-repeat;}
ul.emotion > li:nth-child(2) > a{background:url("images/feel2.png") no-repeat;}
ul.emotion > li:nth-child(3) > a{background:url("images/feel3.png") no-repeat;}
ul.emotion > li:nth-child(4) > a{background:url("images/feel4.png") no-repeat;}
ul.emotion > li:nth-child(5) > a{background:url("images/feel5.png") no-repeat;}

</style>
</head>
<body class = "landing">
<script>
//progess & button
/* 표정 롤오버,클릭,롤아웃 조정     
     * feel input hidden 값 받기    */
var chk = [0,0,0,0,0];
var feeling;
var percent;
function over_click(id,sel){
    if(sel==0){ //롤오버시
        for(i=0; i<5; i++){
            if(chk[i]!=2){
                if(i==(id-1)){ 
                    chk[i] = 1;
                }else{ 
                    chk[i] = 0;
                }
            }
        }
    }else if(sel==1){ //롤아웃시
        for(i=0; i<5; i++){
            if(chk[i]!=2) chk[i] = 0;
        }
    }else{ //클릭시
        for(i=0; i<5; i++){
            if(i==(id-1)){ 
                if(chk[i] == 2) chk[i] = 0; else chk[i] = 2;
            }else{ 
                chk[i] = 0;
            }
        }

        $('#feel').val(id);
        feeling = id;
    }

    var emotion_width = $('a#feel1').width();
    for(i=1; i<=5; i++) 
        if(chk[i-1] == 0)
            $('a#feel'+i).css('background-position', '0px 0px');
        else if(chk[i-1] == 1)
            $('a#feel'+i).css('background-position', '0px -'+emotion_width+'px');
        else if(chk[i-1] == 2){
            //$('a#feel'+i).css('background', 'url(\'../public/images/feel'+i+'_click.png\') no-repeat');
            //$('a#feel'+i).css('background-size', 'cover;');
        }

}

function resize(){

    var emotion_width = $('ul.emotion > li:nth-child(1) > a').width();

    $('ul.emotion > li:nth-child(1) > a').parent().css('height',  emotion_width+'px');
    $('ul.emotion > li:nth-child(1) > a').parent().parent().css('height',  emotion_width+'px');
    for(var i=1; i<=5; i++){
        $('ul.emotion > li:nth-child('+i+') > a').css('height', (emotion_width)+'px');
        $('a#feel'+i).css('background-size','cover');
    }

    $("ul.progress_bar").click(function(event){
            var $x=event.screenX;
            var $width = $(this).width();
            var $margin_left = $(this).parent().parent().css('marginLeft');
            $margin_left = $margin_left.substring(0,($margin_left.length-2));
            $margin_left = parseInt($margin_left)+10;
            var $percentage = Math.round((($x-$margin_left)/($(this).width() - 20))*100);
            if($percentage >= 100) $percentage = 100;
            $(this).children('li').animate({width: ($percentage)+'%'}, 400);
            $('input.condition').val($percentage);
            percent = $percentage;
            });
  

    for(i=1; i<5; i++){
        var div = $('ul.emotion > li:nth-child('+i+') > div');
        div.css('background-position', '0 '+div.width()+'px');
    }

}
$(document).ready(function(){
        resize();
        });
$(window).resize(function(){
        resize();
        });

//progess & button end

// init facebookAPI
window.fbAsyncInit = function() {    
    FB.init({
          appId: '1402535423379425',
          cookie : true,  // enable cookies to allow the server to access 
          // the session
          xfbml : true,  // parse social plugins on this page
          version : 'v2.6' // use version 2.6
    });
};
// Load the SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

//Login check 
var myAToken = "";
var userid = "";
function check(response,flag)
{
        if (response.status === 'connected')
        {
            myAToken = response.authResponse.accessToken;
            userid = response.authResponse.userID;
            // document.getElementById('showID').innerHTML="userID : "+userid;
            console.log("userID : " + userid + "\n");
            testShow(myAToken,userid,flag);
        }
        else if (response.status === 'not_authorized')
        {
            FB.login(function(response)
                    {
                        myAToken = response.authResponse.accessToken;
                        userid = response.authResponse.userID;
                        // document.getElementById('showID').innerHTML="userID : "+userid;
                        console.log("userID : " + userid + "\n");
                        testShow(myAToken,userid,flag);
                    }, { scope: 'public_profile,email,user_posts' });
        }
        else
        {
            FB.login(function(response)
                    {
                        myAToken = response.authResponse.accessToken;
                        userid = response.authResponse.userID;
                        // document.getElementById('showID').innerHTML="userID : "+userid;           
                        console.log("userID : " + userid + "\n");
                        testShow(myAToken,userid,flag);

                    }, { scope: 'public_profile,email,user_posts' });
        }
}
//time Setting for get feed
//..? 여기에 넣으면 근데 하루에 한번씩 서버 다시 켜야되나 
    var today = new Date();
    var tmp = today.getDate();
    today.setDate(tmp);
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
            dd='0'+dd
    } 
    if(mm<10) {
            mm='0'+mm
    } 
    today = yyyy+'-'+mm+'-'+dd;
    
    var yesterDay = new Date(mm+'/'+dd+'/'+yyyy);
    var dayOfMonth = yesterDay.getDate();
    yesterDay.setDate(dayOfMonth-1);
    var ydd = yesterDay.getDate();
    var ymm = yesterDay.getMonth()+1;
    var yyyyy = yesterDay.getFullYear();
    if(ydd<10) {
            ydd='0'+ydd
    } 
    if(ymm<10) {
            ymm='0'+ymm
    } 
    yesterDay = yyyyy+'-'+ymm+'-'+ydd;

    //편의를 위해 4달(약 120일 로 설정)
    var before100Days = new Date(mm+'/'+dd+'/'+yyyy);
    var monthOfYear = before100Days.getMonth();
    before100Days.setMonth(monthOfYear-4);
    var dd100 = before100Days.getDate();
    var mm100 = before100Days.getMonth();
    var yy100 = before100Days.getFullYear();
    if(dd100<10) {
            dd100='0'+dd100
    } 
    if(mm100<10) {    
        mm100='0'+mm100
    } 
    before100Days = yy100+'-'+mm100+'-'+dd100;
   

//show user's feed
function testShow(myAToken,userid,flag)
{
   
    var energy = 1;
        energy =percent;
    var emotion = 1; 
        emotion =feeling;
    var uid = userid;
     
    //&since=2011-07-01&until=2012-08-08&access_token=ACCESSTOKEN&limit=100
    if(flag==1)//전체 피드
    {
        FB.api('/me/feed?access_token=' + myAToken + '&limit=300', function(response)
        {
           var messageBox = new Array();
            messageBox[0] = "message";
            var texts = JSON.stringify(response.data, messageBox, '\t');
            // document.getElementById('showJson').innerHTML=texts;
            var getImg = new Promise(function(resolve,reject){
               FB.api('/me/picture?type=large',function(response)
               {
                  var imgUrl = response.data.url;
                  resolve(imgUrl);
               });
            });
            var getUname = new Promise(function(resolve,reject){
                 FB.api('/me',{locale : 'ko_KR'},function(response)
                 {
                    var uname = response.name;
                    resolve(uname);
                 });
            });
            var args = ['http://ec2-52-79-93-55.ap-northeast-2.compute.amazonaws.com:8100/server',{'userid':uid,'energy':energy,'emotion':emotion,'messages':texts,'date':today}]
            Promise.all([getImg,getUname,args]).then(post_to_url);      
            FB.logout();
            alert('전체 피드 전송되었습니다');
        });
    }
    else if(flag==0)//오늘 피드
    {
        FB.api('/me/feed?access_token=' + myAToken + '&since='+yesterDay+'&until='+today+'&limit=300', function(response)
        {
           var messageBox = new Array();
            messageBox[0] = "message";
            var texts = JSON.stringify(response.data, messageBox, '\t');
            // document.getElementById('showJson').innerHTML=texts;
            var getImg = new Promise(function(resolve,reject){
               FB.api('/me/picture?type=large',function(response)
               {
                  var imgUrl = response.data.url;
                  resolve(imgUrl);
               });
            });
            var getUname = new Promise(function(resolve,reject){
                 FB.api('/me',{locale : 'ko_KR'},function(response)
                 {
                    var uname = response.name;
                    resolve(uname);
                 });
            });
            var args = ['http://ec2-52-79-93-55.ap-northeast-2.compute.amazonaws.com:8100/server',{'userid':uid,'energy':energy,'emotion':emotion,'messages':texts,'date':today}]
            Promise.all([getImg,getUname,args]).then(post_to_url);      
            FB.logout();
            alert(' 오늘 피드 전송되었습니다\n');
        });
    } 
    else if(flag==2)//100일(4달치) 피드
    {
        FB.api('/me/feed?access_token=' + myAToken + '&since='+before100Days+'&until='+today+'&limit=300', function(response)
        {
            var messageBox = new Array();
            messageBox[0] = "message";
            var texts = JSON.stringify(response.data, messageBox, '\t');
            // document.getElementById('showJson').innerHTML=texts;
            var getImg = new Promise(function(resolve,reject){
               FB.api('/me/picture?type=large',function(response)
               {
                  var imgUrl = response.data.url;
                  resolve(imgUrl);
               });
            });
            var getUname = new Promise(function(resolve,reject){
                 FB.api('/me',{locale : 'ko_KR'},function(response)
                 {
                    var uname = response.name;
                    resolve(uname);
                 });
            });
            var args = ['http://ec2-52-79-93-55.ap-northeast-2.compute.amazonaws.com:8100/server',{'userid':uid,'energy':energy,'emotion':emotion,'messages':texts,'date':today}]
            Promise.all([getImg,getUname,args]).then(post_to_url);      
            FB.logout();
            alert(' 최근 피드 전송되었습니다\n');
        });
    }
    else
   {
        console.log('0:오늘피드, 1:모든피드, 2:100일치(4달치) 피드');
   }
}

///// url,name을 어떻게 꺼낼지 모르겠다
function getImageTest(myAToken,userid,response)
{
    var url={};
    FB.api('/me/picture?type=large',function(response)
    {
        url.path = response.data.url;
        document.getElementById("fbImage").innerHTML += "<img src="+url+"><br>";
    });
    var returnPath = function(url){return url.path;};
            
    setTimeout(returnPath(url),5000);
}
function getMyName(myAToken,userid,response)
{
    var name;
    FB.api('/me',{locale : 'ko_KR'},function(response)
    {
        name = response.name;
    });

    return name;
}

//Facebook Login
//flag) 0: 오늘의 피드 가져오기, 1: 모든 피드 가져오기, 2: 100일치 피드 가져오기
function customLoginF(flag)
{
   FB.getLoginStatus(function(response)
   {
        check(response,flag);
   });
}


/*
* path : 전송 URL
* params : 전송 데이터 {'q':'a','s':'b','c':'d'...}으로 묶어서 배열 입력
* method : 전송 방식(생략가능)
*/

function post_to_url(input) 
{
     var form = document.createElement("form");
     form.setAttribute("method", "post");
     form.setAttribute("action", input[2][0]);
     var params = input[2][1];
     for(var key in params) 
     {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
     }
     var hiddenField = document.createElement("input");
     hiddenField.setAttribute("type", "hidden");
     hiddenField.setAttribute("name", "imgUrl");
     hiddenField.setAttribute("value", input[0]);
     form.appendChild(hiddenField);

     var hiddenField = document.createElement("input");
     hiddenField.setAttribute("type", "hidden");
     hiddenField.setAttribute("name", "uname");
     hiddenField.setAttribute("value", input[1]);
     form.appendChild(hiddenField);
     
     document.body.appendChild(form);
     form.submit();
}

/*
    실제로 구동시킬 때 입력 예제
    post_to_url('http://example.com/', {'q':'a'});
*/

</script>



<!--Header-->

<header id = "header">
<h1><a href = "index.html">P.E.R.S</a></h1>
<nav id = "nav">
<ul>
    <li><a onclick="customLoginF(1)">모든피드</a></li>
    <li><a onclick="customLoginF(2)">처음 방문</a></li> 
</ul>
</nav>
</header>

<!--Banner-->
<section id = "banner">
    <form id="form1" action="" method="post">
        <ul class="condition">
            <li><img src="images/condition_txt.png" /></li>
            <li>
            <ul class="progress_bar_bg">
                <li>
                <ul class="progress_bar">
                    <li></li>
                </ul>
                <input class="condition" type="hidden" name="condition">
                </li>
            </ul>
            </li>
        </ul>
        <ul class="feelings">
            <li><img src="images/feelings_txt.png" /></li>
            <li>
            <ul class = "emotion">
                <li>
                <a id="feel1" onMouseOver="javascript:over_click(1,0)" onMouseOut="javascript:over_click(1,1)" onClick="javascript:over_click(1,2)"></a>
                </li>
                <li>
                <a id="feel2" onMouseOver="javascript:over_click(2,0)" onMouseOut="javascript:over_click(2,1)" onClick="javascript:over_click(2,2)"></a>
                </li>
                <li>
                <a id="feel3" onMouseOver="javascript:over_click(3,0)" onMouseOut="javascript:over_click(3,1)" onClick="javascript:over_click(3,2)"></a>
                </li>
                <li>
                <a id="feel4" onMouseOver="javascript:over_click(4,0)" onMouseOut="javascript:over_click(4,1)" onClick="javascript:over_click(4,2)"></a>
                </li>
                <li>
                <a id="feel5" onMouseOver="javascript:over_click(5,0)" onMouseOut="javascript:over_click(5,1)" onClick="javascript:over_click(5,2)"></a>
                </li>
            </ul>
            </li>
        </ul>
        <input type="hidden" name="feel" id="feel" value="1" />
</form>
<br><br><br>
<input type = "IMAGE" src = "images/facebookLogin.png" onclick = "customLoginF(0)" style = "width:300px">
</section>

<!--One-->
<section id = "one" class = "wrapper style1 align-center">
<div class = "container">
<header>
<h2>오늘의 기분은 어떠세요 ? </h2>
<p>기분과 에너지 상태를 표시하고 페이스북으로 로그인하세요.</p>
<p>감정분석을 통해 상담사 선생님과 상담할 타이밍을 알려줍니다.</p>
</header>
<div class = "row 200%">
<section class = "4u 12u$(small)">
<i class = "icon big rounded fa-clock-o"></i>
<p>타이밍을 놓치지 마세요. </p>
</section>
<section class = "4u 12u$(small)">
<i class = "icon big rounded fa-comments"></i>
<p>집단속에서 외로운 누군가를 찾아줍니다.</p>
</section>
<section class = "4u$ 12u$(small)">
<i class = "icon big rounded fa-user"></i>
<p>상담사 선생님이 연락을 할거에요!</p>
</section>
</div>
</div>
</section>


<!--Footer-->
<footer id = "footer">
<div class = "container">
<ul class = "copyright">
<li>&copy; Untitled.All rights reserved.</li>
<li>Design: <a href = "http://templated.co">TEMPLATED</a></li>
<li>Images : <a href = "http://unsplash.com">Unsplash</a></li>
</ul>
</div>
</footer>

</body>
</html>
