<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
<head>
	<link href="css/admin_style.css" rel="stylesheet" />
    <style>
        ul.graph_area{overflow:hidden}
        li.key{letter-spacing:-0.1em}
    </style>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script>

    var URL = window.location.search.substring(1);
    URL = URL.split('=');
    var student_num = URL[1];
    var student_guage = new Array(student_num);

    var test_val =
    [
        [100,50,40,30,20],
        [10,50,30,40,60],
        [99,70,80,90,99],[99,70,80,90,99],[99,70,80,90,80]
    ];   
    
   
    function resize(){
		
			//폰트크기 설정
			var browser_size = jQuery('*').width();
			if(browser_size >= 600 || browser_size <= 1024){
				jQuery('body').css('font-size', (browser_size*(1/1024)*0.8)+'em');
			}
            //사진크기대로 li, ul크기 설정
			var profile_height = $('ul.data > li:first-child > img').height();
			$('ul.data > li').css('height', profile_height);
			$('ul.data').css('height', profile_height);

            //이름 및 상세보기 버튼 가운데 정렬
			var name_height = jQuery('li.name').height();
			jQuery('li.name').css('line-height', name_height+'px');
			jQuery('ul.data > li:last-child').css('line-height', name_height+'px');
            jQuery('li.key').css('line-height', name_height+'px');

//			//그래프 아이콘 크기설정			
			var graph_width = $('.graph_area').width();
			$('.graph_area > li > img').css('width', graph_width*(30/384)+'px');
		
			for(var j=1; j<=student_num; j++){ //학생 수만큼 루프
			student_guage[j-1] = new Array(5); //기분 갯수 5개 배열 생성
				var parent_width = $('ul.data > li:nth-child(4) > ul.graph_area').width();

                for(var i=5; i>=1; i--){
                    student_guage[j-1] = test_val[j-1]; //테스트 배열값 대입
                    var this_height = $('.graph_area > li:nth-child('+i+')').height();
					var parent_height = $('ul.data > li:nth-child(4) > ul.graph_area').height()-this_height;
                    calc_height = 100-student_guage[j-1][i-1];

                    //					/* 각 기분 애니메이트 */
		//			$('ul.record_area > li:nth-child('+j+') > ul.data > li > ul.graph_area > li:nth-child('+i+')').animate({marginTop: ((parent_height/parent_width)*calc_height)+"%"},1000);
		//			$('ul.record_area > li:nth-child('+j+') > ul.data > li > ul.graph_area > li:nth-child('+i+')').css('margin-top', ((parent_height/parent_width)*calc_height)+'%');
				}
			}

		}
	
        jQuery(document).ready(function(){
            
            setTimeout(function(){resize()},150);
        });

		/* 화면 크기 바뀔때마다 실행 */
		jQuery(window).resize(function(){
		    resize();
		});
	</script>
   <title> Admin Page</title>
</head>


<body>

<div id="wrap">
  <h1> PERS(Personal Emotion Reporting System)</h1>
  <ul class="field_area">
      <li class="line"></li>
      <li class="field_wrap">
         <ul class="field">
            <li>사진</li>
            <li>이름</li>
            <li>최근 키워드</li>
            <li>최근 5일간의 데이터</li>
            <li>상세보기</li>
         </ul>
      </li>
      <li class="line"></li>
   </ul>
   <ul class="record_area">
   <!---- 반복 범위 시작 ---->

    <script>

    $.get("/server/getPeoplesInClass?cid=1", function(uids) { 
            var url = window.location.search.substring(1);
            if(url=="") document.location.href='/manager?stu_cnt='+uids.length;
            
           uid_return(uids);
    });   

    function uid_return(uids){
        var str;
        for(var i = 0; i<uids.length; i++){
                str += "<li class=\"record\">";
                str += "<ul class=\"data\">";
                 str += "<li><img class=\".profile_img\" src=\""+uids[i].uimg+"\"></li>";
                 str += "<li class=\"name\">"+uids[i].uname+"</li>";
                 str += "<li class='key "+uids[i].uid+"_keyword'></li>";
                 str += "<li class='"+uids[i].uid+"_graph'><ul class=\"graph_area\"></ul><ul class=\"graph_x\"><li>5일전</li><li>4일전</li><li>3일전</li><li>2일전</li><li>1일전</li></ul></li>";
                 str += "<li><input type=button value=\"Detail\" onclick=\"document.location.href='./details?user_id="+uids[i].uid+"';\"></li>";
                str += "</ul>";
                str += "</li>";
        }

        $('.record_area').html(str.substr(9));

        for(var i=0; i<uids.length; i++){
            get_keyword(uids[i].uid);
            get_graph(uids[i].uid,i);  
        }
    }
 
    function get_keyword(uid){
        $.get("/server/getPersonsWord?uid="+uid, function(words){
           var section = "."+uid+"_keyword";
           var str;
           for(i=0; i<4; i++){
                str += words[i].word+"["+words[i].cnt+"]";
                if(i!=3)
                    str += " ,  ";
           }
           if(str=="") str = "데이터 없음";
           $(section).html(str.substr(9));
        });
    }

    function get_graph(uid,unum){
        var guage = [];
        $.get("/server/getInfomAboutPerson?uid="+uid, function(info){
             var section = "."+uid+"_graph ul.graph_area";             
             var str;
             var len = info.length;
             for(i=5; i>=1; i--){
             if(len>(i-1))
             {
                str += "<li>";
                    str += "<img src=\"images/graph_face_"+info[i-1].feeling+".png\">";
                str += "</li>";
                guage[i-1] = info[i-1].energy;
             }
             else
             {
                 str += "<li>";
                    str += "<img src=\"images/graph_face_0.png\">";
                str += "</li>";
                guage[i-1] = 10;
            
             }
            }
             $(section).html(str.substr(9));
        
        });
        var sect = "."+uid+"_graph ul.graph_area";
        setTimeout(function(){
             
                if($(sect).children().size()==0)
                    $(sect).html(
                        "<li><img src=\"images/graph_face_0.png\"></li>"+
                        "<li><img src=\"images/graph_face_0.png\"></li>"+
                        "<li><img src=\"images/graph_face_0.png\"></li>"+
                        "<li><img src=\"images/graph_face_0.png\"></li>"+
                        "<li><img src=\"images/graph_face_0.png\"></li>"
                    );
                var graph_width = $(sect).width();
                $(sect + " li img").css('width', graph_width*(30/386)*'px');
                var this_height = $(sect).children().height();
                var parent_height = $(sect).height() - this_height;
                for(var i = 5; i >= 1; i--){
                    if(guage[i-1] > 0 && guage[i-1] <= 100){
                    }else{
                        guage[i-1] = 0;
                    }
                    var calc_height = 100-guage[i-1];
                    guage[i-1] = ((parent_height/$(sect).width())*0.9)*calc_height;
                    console.log("gauge["+(i-1)+"]"+guage[i-1]);
                    $(sect+" li:nth-child("+i+")").animate(
                        {marginTop: guage[i-1]+"%"},
                        1000
                    );
                }
                               
          }, 500);
  
}
</script>   
   </ul>      
 </div>
      

</body>
</html>
